extends ../default

block content

	#home.page

		ul.tags

			li(data-tag="all") All

			each item in tags

				li(data-tag="#{item.slug}") #{item.tag}

		div.post
			
			div.video
				iframe(src="" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen)

			ul.other-videos
			h1.title
			p.description
			p.extra-bits

		ul.posts

			each item in work

				- var tags = [];
				
				each tag in item.tags

					- tags.push(tag.slug);

				- var tags = tags.join().replace(/,/g, ' ');

				li(id="#{item.id}" data-tags="#{tags}")

					img(
						src="images/uploads/#{item.stillImage.filename}"
						data-over="#{item.gif.filename}"
						data-out="#{item.stillImage.filename}"
					)
